*{
    margin: 0;
    padding: 0;
}


/* .header{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50vw;

} */

.slogon {
    font-family: cursive;
    /* font-family: "Satisfy", cursive; */
    font-weight: 400;
    font-style:italic;
    font-size:xx-large;
    text-align: center;
  }
  

.nav{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.Name{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    color: #11f705;
}

.logo{
    display: flex;
    justify-content: left;
}

#sec{
    padding: 10px;

}
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15rem;
    height: 5rem;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  } */

.course{
    background-color: rgba(0, 255, 255, 0.61);
    width: 50px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.Featured-Courses{
    font-size: xx-large;
    display: flex;
    justify-content: center;

}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card h1 {
    font-size: medium;
}

.whatsapp-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 50px;
}

.phone{
    position: fixed;
    bottom: 90px;
    right: 25px;
    height: 50px;

}



